.title {
    background-color: blue;
    color: lightgray;                   
}

.sub {
    background-color: lightblue;
    color: white;
}

.price, .vol {
    background-color: lightgrey;
    color: gray;
}